page-home {

  .button_ini button{
    margin-top: 50%;
    margin-left: 10%;
    margin-bottom: 15%;
    width: 75px;
    height: 75px;
  }

  .button_ini ion-icon{
    align-items: center;;
    font-size: 48px;
  }

  
}
